@import url("https://fonts.googleapis.com/css2?family=REM:wght@300;400;600;800&family=Roboto+Mono&display=swap");

:root {
  --main-white-color: #f8f8f8;
  --main-grey-color: #717a7c;
  --main-black-color: #00020e;
  --main-clearblue-color: #c1e3e3;
  --main-darkblue-color: #91b6b3;
}

#headerImg {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.headerName {
  display: flex;
  padding: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-darkblue-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  text-align: center;
}

.header1_txt {
  margin-left: 16px;
}

li {
  display: block;
  float: right;

  padding: 8px;
  margin: 8px;
}

.aboutMe {
  text-align: center;
  margin: 0;
  display: flex;
}

.skills {
  display: flex;
  justify-content: center;
}
.skill {
  color: #00020e;
  font-weight: 800;
  padding: 16px;
  margin: 16px;
  border: 1px solid var(--main-darkblue-color);
  background-color: var(--main-clearblue-color);
  border-radius: 15%;
  letter-spacing: 1px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.projects {
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 70%;
}

.projects-images {
  display: block;
  height: 200px;
  width: 200px;
  padding: 32px;
  margin: 32px;
  border-radius: 15%;
  transition: 0.5s ease-in-out;
}

.projects-images:hover {
  transform: scale(1.3);
}

fieldset {
  color: saddlebrown;
  padding: 32px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
  height: 400px;
}
#backgroundImage {
  color: var(--main-grey-color);
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  padding-top: 370px;
  height: 600px;

  background-size: cover;
  background-position: center;
  background-image: url(https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg);
}
body {
  margin: 0;
  font-family: "REM", sans-serif;
}
ul {
  padding: 0 20px;
  margin-right: 16px;
  display: flex;
}
.ImageAboutMe {
  background-image: url(nose.png);
}
h2 {
  margin: 0;
  padding: 24px 0;
}
.colorText {
  color: var(--main-white-color);
}
.aboutMeText {
  flex: 1;
  padding: 5%;
}
.aboutMeSkills {
  padding: 5%;
  flex: 1;
}

.projectBackground {
  background: linear-gradient(
    90deg,
    rgba(195, 20, 50, 1) 0%,
    rgba(36, 11, 54, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactBackground {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
